---
import { getCollection, type CollectionEntry } from "astro:content";
import Footer from "../../components/footer.astro";
import CardLink from "../../components/ui/card-link";
import { ROUTES } from "../../lib/consts";

import { Image } from "astro:assets";
import glossyCube from "../../assets/glossy_cube.webp";
import { Icon } from "../../components/ui/icon";
import ArticleLayout from "../../layouts/article-layout.astro";
import Metadata from "../../lib/metadata.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const projectObj = Astro.props;
const { Content } = await projectObj.render();
const { title, description, repoUrl, demoUrl } = projectObj.data;

const BASE_URL = new URL(Astro.request.url).origin;
---

<ArticleLayout>
  <Metadata
    slot="head"
    title={`Project - ${title}`}
    description={description}
    image={`/projects/${projectObj.slug}/og.png`}
    canonicalUrl={`${BASE_URL}/projects/${projectObj.slug}/`}
    type="website"
  />
  <nav>
    <CardLink
      title="GO BACK"
      cardProps={{
        className: "sm:h-24",
      }}
      followIconKey="arrowLeft"
      href={`${ROUTES.projects}`}
      client:load
    />
  </nav>
  <div class="relative">
    <h1 class="mb-4 mt-8 text-6xl font-bold uppercase">{title}</h1>
    <div class="blob absolute inset-0 -z-[1] rotate-180 animate-pulse-slow">
    </div>
  </div>
  <div class="mb-8 flex flex-col gap-8 sm:flex-row">
    {
      repoUrl && (
        <CardLink
          title="repo"
          className="w-full"
          cardProps={{
            className: "sm:h-24",
          }}
          followIconKey="arrowUpRight"
          href={repoUrl}
          target="_blank"
          client:load
        />
      )
    }
    {
      demoUrl && (
        <CardLink
          title="demo"
          className="w-full"
          cardProps={{
            className: "sm:h-24",
          }}
          followIconKey="arrowUpRight"
          href={demoUrl}
          target="_blank"
          client:load
        />
      )
    }
  </div>
  <div class="mt-2"></div>
  <article class="prose prose-invert">
    <Content />
  </article>
  <Footer>
    <Image
      src={glossyCube}
      alt="Glossy cube"
      loading="eager"
      class="pointer-events-none animate-float sm:mt-8"
      width={102}
      height={102}
      slot="image"
    />
    <Icon.fourCircleStar
      className="h-1/3 w-1/3 text-white/10"
      slot="background"
    />
  </Footer>
</ArticleLayout>
